body {
  background-color: rgb(63, 61, 61);
  margin: 0px;
  text-align: center;
  user-select: none;
  padding: 0px
}

#counter {
  font-size: 40px;
}

#turn-prompt {
  font-size: 40px;
}

h2 {
  font-size: 5vh;
  text-align: center;
  height: 75px;
  color: rgb(219, 196, 196);
}

span {
  font-size: 75px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(241, 124, 124);
  float: left;
}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div {
  border-top: none;
}

div[id="row-3"] div {
  border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
  font-size: 10vh;
  text-align: center;
  vertical-align: middle;
}

.status {
  font-size: xx-large;
  color: rgb(235, 235, 197);
}

#start {
  font-size: xx-large;
  border-radius: 20%;
  background-color: cornflowerblue;
}

.radio {
  transform: scale(2.3);
  padding: 10px;
}