body {
  background-color: rgb(36, 35, 35);
  color: rgb(214, 220, 233);
  margin: 0px;
  text-align: center;
  user-select: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#counter {
  font-size: 40px;
  margin: 0px
}

#turn-prompt {
  font-size: 40px;
}

h2 {
  font-size: 5vh;
  text-align: center;
  height: 75px;
  color: rgb(214, 220, 233);
}

span {
  font-size: 75px;
}

.square {
  min-width: 12vh;
  min-height: 12vh;
  border: solid;
  border-color: rgb(214, 220, 233);;
}

.board {
  min-width: 10vw;
  min-height: 10vw;
  font-size: 10vh;
  text-align: center;
  display: flex;
  align-self: center;
}

.status {
  font-size: xx-large;
  color: rgb(214, 220, 233);;
}

#start {
  font-size: xx-large;
  border-radius: 20%;
  background-color: rgb(214, 220, 233);;
}

.radio {
  transform: scale(2.3);
  padding: 10px;
}